[Unit]
Description=Nastya GPT
After=syslog.target network.target

[Service]
Type=simple
WorkingDirectory=/home/nastya
ExecStartPre=/home/nastya/bin/celery --app misc.bridge worker --detach -c 4 \
             --pool prefork --loglevel=info -f /home/nastya/queue.log
ExecStart=/home/nastya/bin/python main.py
Environment="PYTHONPATH=/home/nastya/lib/python3.9/site-packages:/usr/lib/python3.9/site-packages/:$PYTHONPATH"
KillMode=process
SendSIGKILL=yes
RestartSec=10
Restart=on-failure
PrivateTmp=true

[Install]
WantedBy=multi-user.target