[Unit]
Description=Nastya GPT
After=syslog.target network.target

[Service]
Type=simple
WorkingDirectory=/home/nastya
ExecStartPre=/home/nastya/bin/celery -A main worker -D -l DEBUG -f /home/nastya/queue.log --autoscale=10,0
ExecStart=/home/nastya/bin/python main.py
ExecStopPost=kill -s 9 $(pidof /home/nastya/bin/python)
Environment="PYTHONPATH=/home/nastya/lib/python3.9/site-packages:/usr/lib/python3.9/site-packages/:$PYTHONPATH"
KillMode=process
SendSIGKILL=yes
RestartSec=10
Restart=on-failure
PrivateTmp=true

[Install]
WantedBy=multi-user.target