[Unit]
Description=Nastya GPT
After=syslog.target network.target

[Service]
Type=simple
WorkingDirectory=/home/nastya
ExecStartPre=/home/nastya/bin/celery multi start 2 -A misc.bridge -l INFO -f /home/nastya/queue.log
ExecStart=/home/nastya/bin/python main.py
ExecStopPost=/home/nastya/bin/celery multi stop 2 -A misc.bridge -l INFO -f /home/nastya/queue.log
Environment="PYTHONPATH=/home/nastya/lib/python3.9/site-packages:/usr/lib/python3.9/site-packages/:$PYTHONPATH"
KillMode=process
SendSIGKILL=yes
RestartSec=10
Restart=on-failure
PrivateTmp=true

[Install]
WantedBy=multi-user.target